<template>
  <button
    id="accent-button"
    class="
      text-center
      block
      text-white
      font-semibold
      tracking-wide
      w-full
      p-2
      rounded-xl
    "
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'AccentButton',
}
</script>

<style lang="scss" scoped>
#accent-button {
  position: relative;
  background: $primaryGradient;
  transition: 0.3s ease all;

  &:active {
    transform: scale(0.95);
  }
}
</style>