<template>
  <div
    id="bottom-nav"
    class="sticky bottom-0 left-0 w-full bg-white p-5 rounded-t-xl"
  >
    <AccentButton> Kostenlos Registrieren </AccentButton>
  </div>
</template>

<script>
import AccentButton from './AccentButton.vue'
export default {
  name: 'BottomNav',
  components: { AccentButton },
}
</script>

<style lang="scss">
#bottom-nav {
  box-shadow: 0.5px 4px 4px 8px rgba(0, 0, 0, 0.089);
}
</style>