<template>
  <div
    id="header"
    class="
      bg-gray-100
      sticky
      shadow-lg
      rounded-b-xl
      overflow-auto
      top-0
      left-0
      w-full
      z-10
    "
  >
    <div class="accent-line w-full"></div>
    <nuxt-link
      to="/login"
      class="
        text-primary
        font-semibold
        text-sm text-right
        block
        mt-6
        mb-5
        mr-4
        tracking-wide
      "
      >Login</nuxt-link
    >
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style lang="scss">
#header {
  .accent-line {
    height: 5px;
    background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0%
      0% no-repeat padding-box;
  }
}
</style>