<template>
  <div id="hero" class="bg-white py-12">
    <!-- INDICATOR -->
    <div class="relative h-14">
      <div
        class="indicator flex items-center border rounded-xl absolute ml-5"
        :style="`transform: translateX(${activeIndex * -100}px)`"
      >
        <div
          class="px-8 py-2 text-center border-r min-w-22 text-primary item"
          :class="activeIndex == i ? 'active' : ''"
          v-for="(item, i) in items"
          :key="item.title"
          @click="activeIndex = i"
        >
          {{ item.title }}
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <section class="z-0">
      <h4
        class="
          text-center text-xl
          mx-12
          mt-2
          text-textDark
          leading-6
          mb-4
          font-semibold
        "
      >
        {{ activeItem.heading }}
      </h4>
      <div
        v-for="(item, i) in activeItem.bullets"
        :key="item.title"
        class="bullet flex relative"
        :class="item.reverse ? 'flex-col-reverse' : 'flex-col'"
      >
        <img
          v-if="i == 1"
          src="/wave2.svg"
          alt=""
          class="absolute w-full h-full left-0 top-0 object-cover wave"
        />
        <div
          class="text-area flex items-center relative"
          :style="`margin-left:${i * 1.5}rem`"
        >
          <h4 class="num text-bold pl-4">{{ i + 1 }}.</h4>
          <p class="title">{{ item.title }}</p>
        </div>
        <img
          :src="item.img"
          alt="hero-img"
          class="m-auto relative"
          :style="
            item.reverse
              ? { 'margin-bottom': '-60px' }
              : { 'margin-top': '-32px' }
          "
        />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Hero',
  data() {
    return {
      activeIndex: 0,

      items: [
        {
          title: 'Arbeitnehmer',
          heading: 'Drei einfache Schritte zu deinem neuen Job',
          bullets: [
            {
              img: '1.svg',
              title: 'Erstellen dein Lebenslauf',
              reverse: true,
            },
            { img: '2.svg', title: 'Erstellen dein Lebenslauf' },
            {
              img: '3.svg',
              title: 'Erstellen dein Lebenslauf',
            },
          ],
        },
        {
          title: 'Arbeitgeber',
          heading: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
          bullets: [
            {
              img: '1.svg',
              title: 'Erstellen dein Unternehmensprofil',
              reverse: true,
            },
            { img: '4.svg', title: 'Erstellen ein Jobinserat' },
            {
              img: '5.svg',
              title: 'Wähle deinen neuen Mitarbeiter aus',
            },
          ],
        },
        {
          title: 'Temporärbüro',
          heading: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
          bullets: [
            {
              img: '1.svg',
              title: 'Erstellen dein Unternehmensprofil',
              reverse: true,
            },
            {
              img: '6.svg',
              title: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
            },
            {
              img: '7.svg',
              title: 'Vermittlung nach Provision oder Stundenlohn',
            },
          ],
        },
      ],
    }
  },
  computed: {
    activeItem() {
      return this.items[this.activeIndex]
    },
  },
}
</script>

<style lang="scss" scoped>
#hero {
  max-width: 100%;
  overflow-x: hidden;
  .indicator {
    overflow: hidden;
    transition: 0.3s ease all;

    .active {
      transition: 0.5s ease all;
      background: $accent;
      color: #e6fffa;
    }
  }
  section {
    h4 {
      color: #718096;
    }
    .bullet {
      background-size: cover;

      .wave {
        transform: scaleY(125%);
        top: 12%;
      }
      .text-area {
        color: #718096;

        .num {
          font-size: 130px;
        }
        .title {
          transform: translateY(50%);
        }
      }
    }
  }
}
</style>