body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

$primaryGradient: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%)
  0% 0% no-repeat padding-box;
$accent: #81e6d9;
