<template>
  <div id="default-layout">
    <Header />
    <Nuxt />
    <BottomNav />
  </div>
</template>

<script>
import BottomNav from '~/components/BottomNav.vue'
export default {
  name: 'DefaultLayout',
  methods: {},
  mounted() {},
  components: { BottomNav },
}
</script>

<style></style>