<template>
  <div id="home" class="bg-white relative">
    <section class="intro pt-6">
      <h4 class="text-center text-textDark px-4">Deine Job website</h4>
    </section>
    <img src="/wave1.svg" class="w-full bg-white" />
    <Hero />
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Hero from '~/components/Hero.vue'
export default {
  name: 'IndexPage',
  components: { Header, Hero },
}
</script>
<style lang="scss" scoped>
#home {
  width: 100%;
  background: #e6fffa;
  padding: 0;
  .intro {
    background-image: url('/agreement.svg');
    background-size: contain;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    height: 85vh;

    h4 {
      letter-spacing: 1.26px;
      font-size: 42px;
      line-height: normal;
    }
  }
}
</style>
